{
  "btcpayServerHostName": "btcpay135208.lndyn.com",
  "apiPublicDisplayName": "Edge EOS Name Registration and Payment restful API",
  "apiVersionPrefix": "/api/v1",
  "clientPrivateKeyFullPath": "./config/btcpay_client_private.key",
  "merchantPairingDataFullPath": "./config/btcpay_client_merchant_paring.data",
  "btcpayStoreId": "StoreIDFromBTCPayServerAdminConfig",
  "oneTimePairingCode": "pairingCodeFRomBTCPayServerUsedOnceWithPairingCall", 
  "supportedCurrencies":
    {
      "BTC": true,
      "LTC": true,
      "FTC": true,
      "DOGE": false,
      "DASH": false,
      "ETH": false
    },
  "invoiceNotificationURL": "https://this.server.url/api/v1/invoiceNotificationEvent/",
  "dbFullpath": "http://admin:couchDBPassword@localhost:5984",
  "btcPayInvoicePropsToSave": [
    "url", "status", "btcPrice", "btcDue", "cryptoInfo", "price", "currency", "invoiceTime", "expirationTime",
    "currentTime", "lowFeeDetected", "rate", "exceptionStatus", "refundAddressRequestPending", 
    "token", "paymentSubtotals", "paymentTotals", "amountPaid", "minerFees", "addresses"
  ],
  "eosCreatorAccountPrivateKey" : "EOSPrivateKeyAssociatedWithPaying/CreatingAccount",
  "eosjs" : {
    "chainId": "aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906", 
    "httpEndpoint": "https://proxy.eosnode.tools", 
    "expireInSeconds": 60,
    "broadcast": true,
    "debug": false,
    "sign": true
  },
  "eosPricingRatesURL" : "https://info1.edgesecure.co:8444/v1/eosPrices",
  "eosAccountActivationStartingBalances" :{
    "ram": "8192",
    "net": "2", 
    "cpu": "10" 
  },
  "cryptoPricing" : {
    "updateFrequencyMs" : 300000,
    "apiKey" : "my-coinmarketcap-pro-api-key",
    "rootPath":  "https://pro-api.coinmarketcap.com/v1",
    "listings": "/cryptocurrency/listings/latest",
    "tickerQuotes": "/ticker/"
  },
  "serverSSLKeyFilePath": "/path/to/keyfile.key",
  "serverSSLCertFilePath": "/path/to/certfile.crt",
  "serverSSLCaCertFilePath": "/path/to/certauthorityfile.ca"
}