const CONFIG = {
  btcpayServerHostName: 'your.bctpay.server.com',
  apiPublicDisplayName: 'Edge EOS Name Registration and Payment restful API',
  apiVersionPrefix: '/api/v1',
  clientPrivateKeyFullPath: './config/btcpay_client_private.key',
  merchantPairingDataFullPath: './config/btcpay_client_merchant_paring.data',
  btcpayStoreId: 'STORE_ID_KEY_FROM_BTCPAY_ADMIN_INTERFACE',
  oneTimePairingCode: 'tMnNcLt', // get this On BTCPay Server > Stores > Settings > Access Tokens > Create a new token, (leave PublicKey blank) > Request pairing
  supportedCurrencies:
    {
      // these will have to manually updated based on btcpay server config for now.
      'BTC': true,
      'LTC': true,
      'FTC': true,
      'DOGE': false,
      'DASH': false,
      'ETH': false
    },
  // invoiceNotificationEmailAddress: 'admin@edge.app', //requires SMTP Server setup on BTCPAY Server Admin
  invoiceNotificationURL: 'https://eos-pay-sf2.edgesecure.co/api/v1/invoiceNotificationEvent/', //URL that BTCPay uses to notify API of invoice events (payements, confirmations, expirations, etc.)
  dbFullpath: 'http://admin:password@localhost:5984', //couch db full path used for invoice updates & data storage. Requires "invoice_tx" DB to exist 
  btcPayInvoicePropsToSave: [
    'url', 'status', 'btcPrice', 'btcDue', 'cryptoInfo', 'price', 'currency', 'invoiceTime', 'expirationTime',
    'currentTime', 'lowFeeDetected', 'rate', 'exceptionStatus', 'refundAddressRequestPending', 
    'token', 'paymentSubtotals', 'paymentTotals', 'amountPaid', 'minerFees', 'addresses'
  ],
  // eosCreatorAccountPrivateKey : fs.readFileSync('config/eos_creator_account_private.key'),
  eosCreatorAccountPrivateKey : 'EOSCREATINGACCOUNTPRIVATEKEY', // this account is used for creating, pricing, & funding named EOS addreses with ram/net/cpu specs config'd below
  eosjs : {
    chainId: 'aca376f206b8fc25a6ed44dbdc66547c36c6c33e3a119ffbeaef943642f0e906', // main net
    //endpoint list available here: https://www.eosdocs.io/resources/apiendpoints/
    // httpEndpoint: 'https://api.eosnewyork.io:443', // main net
    // httpEndpoint: 'https://user-api.eoseoul.io:443', // main net - good pings in hawaii
    httpEndpoint: 'https://proxy.eosnode.tools', // proxy - no port - replaces above urls
    expireInSeconds: 60,
    broadcast: true,
    debug: false,
    sign: true
  },
  eosPricingRatesURL : 'https://info1.edgesecure.co:8444/v1/eosPrices',
  eosAccountActivationStartingBalances :{
    // totalEos = (result.ram * 8) + (result.net * 2) + (result.cpu * 10)
    //input as strings for biggiestrings use
    ram: '8192', //bytes
    net: '2', //kb
    cpu: '10' //ms
  },
  cryptoPricing : { //coinMarketCapConfigs
    updateFrequencyMs : 5*60*1000, ///how long to hold latest prices in memory before fetching updates
    apiKey : '1f0b3fbe-5f1d-4944-8347-24f9ac7c0d48', //coinmarketcap free pricing includes 10,000 credits (cryptos) per month - capped at 333/day
    rootPath:  'https://pro-api.coinmarketcap.com/v1',
    // rootPath:  'https://sandbox-api.coinmarketcap.com/v1',
    listings: '/cryptocurrency/listings/latest',
    tickerQuotes: '/ticker/'
  },
  serverSSLKeyFilePath: '/etc/ssl/wildcard/edgesecure_co.key',
  serverSSLCertFilePath: '/etc/ssl/wildcard/edgesecure_co.crt',
  serverSSLCaCertFilePath: '/etc/ssl/wildcard/edgesecure_co.ca',
}